<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>
<body>
    <br>
    <br>
    <h1>Bosh sahifaga xush kelibsiz!</h1>
    <br>
    <hr>
    <a href="/kitoblar/"><h1>Kitoblar</h1></a>
    <br>
    <a href="/talabalar/"><h1>Talabalar</h1></a>
    <br>
    <a href="/mualliflar/"><h1>Mualliflar</h1></a>
    <br>
    <a href="/recordlar/"><h1>Recordlar</h1></a>
    <br>
    <a href="/adminlar/"><h1>Adminlar</h1></a>
    <br>
    <a href="/tirik_muallif/"><h1>Tirik Mualliflar</h1></a>
    <br>
    <a href="/a_qatnashgan/"><h1>Ismida 'a' qatnashgan talabalar </h1></a>
    <br>
    <a href="/kotta_kitob/"><h1>Eng kotta 3 ta kitob</h1></a>
    <br>
    <a href="/muallif_kitobi/"><h1> Kitobi eng ko'p 3 ta Mualliflar</h1></a>
    <br>
    <a href="/record_sana/"><h1> Oxirgi 3 ta Record</h1></a>
    <br>
    <a href="/badiiy_kitob/"><h1> Badiiy kitoblar</h1></a>
    <br>
    <a href="/tirik_muallif/"><h1> Tirik Mualliflar </h1></a>
    <br>
    <a href="/erkak_mualliflar/"><h1> Erkak Mualliflar </h1></a>
    <br>
    <a href="/bitiruvchi/"><h1> Bitiruvchi talablar </h1></a>
    <br>
</body>
</html>