<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record ma'lumotlari</title>
</head>
<body>
     <h1>Tanlangan Record ma'lumotlari</h1>
     <br>
     <br>
     <hr>
     <h2>{{record.id}}. {{record.talaba}}</h2>
     <br>
     <br>
     <h2>Kitoblari : {{record.kitob}}</h2>
     <br>
     <br>
     <h2>Admin : {{record.admin}}</h2>
     <br>
     <br>
     <h2>Olingan sana : {{record.olingan_sana}}</h2>
     <br>
     <br>
     <h2>Qaytarish sana : {{record.qaytarish_sana}}  Qaytardi - {{record.qaytardi}}</h2>
</body>
</html>
